<section class="section">
	<div class="container">
		<div class="columns">
			<%= render 'upcoming_event'%>
			<%= render 'past_event'%>
			<% if user_signed_in? %>
				<%= render 'attended_event'%>
			<% end %>
		</div>
	</div>
</section>

